<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css"> 
</head>

<body>
    <div style='min-height: 30px;'></div>
    <div style='text-align: center;display: inline-block;width:100%'>
        <img src="/assets/pictures/back.png" alt="" height="100px" width="auto"  style='float:left;margin-left:5px;margin-right:5px;' onclick='back()'>     
        <div style='min-width:100px;height:100px;float:right;margin-left:5px;margin-right:5px;'></div>                                                  
        <h1 id='titleEnd' style='font-size:400%'></h1>
    </div>
    <div class="container" style='text-align: center;'>
        <div class='row h-100'>
            <div class='w-10'></div>
            <div id='plus' class='w-35 bradius10' style='background-color: white;border: 10px solid black;' onclick="changeEnd('plus')">
                <span style='font-size:400%'>Plus</span>
            </div>
            <div class='w-10'></div>
            <div id='delta' class='w-35 bradius10' style='background-color: white;border: 10px solid black;' onclick="changeEnd('delta')">
                <span style='font-size:400%'>Delta</span>
            </div>
            <div class='w-10'></div>
        </div>
        <div style='min-height:50px;'></div>
        <div class="form-group" style='min-height: 550px;'>
            <textarea class="form-control" id="endTextArea" rows="3" style='font-size: 400%;display: block;height: 550px;border-radius: 10px; border: 1px solid black;'></textarea>
        </div>
        <div style='min-height:50px;'></div>
        <input id='cardButton' type="button" value="Add to board" style='font-size: 400%;' onclick="addEndData()">
        <p class="text-danger" id="endErrorMessage" style='font-size:250%'></p>
        <p class="text-success" id="endMessageSuccess" style='font-size:250%;display:none;'>Sent to board</p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <!--<script src="/js/login.js"></script>-->
    <script>

    </script>

</body>

</html>