<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div style='min-height: 30px;'></div>
    <div style='text-align: center;display: inline-block;width:100%'>
        <img src="/assets/pictures/back-100.png" alt="" height="100px" width="auto"  style='float:left;margin-left:5px;margin-right:5px;' onclick='back()'>    
        <img src="/assets/pictures/next-100.png" alt="" height="100px" width="auto"  style='float:right;margin-left:5px;margin-right:5px;' onclick='next()'>                            
        <h1 id='titleMain' style='font-size:400%'></h1>
    </div>
    <div class="container" style='text-align: center;'>
        <div style='min-height:30px;'></div>
        <div id='3W' style='display:none;'>
            <div class='row h-100'>
                <div class='w-6'></div>
                <div id='good' class='w-25 bradius10' style='background-color: green;' onclick="changeCardColor('good')"></div>
                <div class='w-6'></div>
                <div id='bad' class='w-25 bradius10' style='background-color: red;' onclick="changeCardColor('bad')"></div>
                <div class='w-6'></div>
                <div id='action' class='w-25 bradius10' style='background-color: blue;' onclick="changeCardColor('action')"></div>
                <div class='w-6'></div>
            </div>
            <div style='min-height:50px;'></div>
            <div class="form-group" style='min-height: 550px;'>
                <textarea class="form-control" id="cardTextArea" rows="3" style='font-size: 400%;display: block;height: 550px;border-radius: 10px; border: 1px solid black;'></textarea>
            </div>
            <div style='min-height:50px;'></div>
            <input id='cardButton' type="button" value="Add Card." style='font-size: 400%;' onclick="addCard()">
            <p class="text-danger" id="cardErrorMessage" style='font-size:250%'></p>
            <p class="text-success" id="cardMessageSuccess" style='font-size:250%;display:none;'>Card sent to board</p>
        </div>
        <div id='Timeline' style='display:none;'>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script>
        $(function () {
            let retrotype = window.location.href.split('type/')[1].split('/')[0]
            if(retrotype == '3W')
                $('#3W').css('display', 'block')
            else if(retrotype == 'Timeline')
                $('#Timeline').css('display', 'block')
        });
    </script>

</body>

</html>