<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <div style='min-height: 30px;'></div>
    <div class="container" style='text-align: center;'>
        <div style='text-align: center;'>
            <h1 id='title' style='font-size:400%'></h1>
        </div>
        <div class='row h-100'>
            <div class='w-10'></div>
            <div id='good' class='w-20' style='background-color: green;' onclick="changeCardColor('good')"></div>
            <div class='w-10'></div>
            <div id='bad' class='w-20' style='background-color:red;' onclick="changeCardColor('bad')"></div>
            <div class='w-10'></div>
            <div id='eh' class='w-20' style='background-color:blue;' onclick="changeCardColor('eh')"></div>
            <div class='w-10'></div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script>

    </script>

</body>

</html>