<!DOCTYPE HTML>
<html>

<body>
    <div style='min-height: 30px;'></div>
    <div style='text-align: center;'>
        <h1 id='title' style='font-size:400%'></h1>
        <h1 style='font-size:500%; padding-top: 4%'> <b> How was the sprint?</b></h1>
    </div>
    <div style='min-height:30px;'></div>
    <div id='d3voter'></div>
    <div style='text-align: center;margin-top:-60px;'>
        <input id='cancelVote' type="button" value="Cancel Vote" style='font-size:400%;display:none;margin-right:10px;' onclick="cancelVote()">
        <input id='voteButton' type="button" value="Submit Vote." style='font-size:400%;display:none;margin-left:10px;' onclick="voteFinish()">
    </div>
</body>

</html>