<!DOCTYPE HTML>
<html>

<body>
    <div style='min-height: 30px;'></div>
    <div style='text-align: center;'>
        <div style='text-align: center;display: inline-block;width:100%'>
            <img src="/assets/pictures/next-100.png" alt="" height="100px" width="auto"  style='float:right;margin-left:5px;margin-right:5px;' onclick='next()'> 
            <div style='height:100px;min-width:100px;float:left;margin-left:5px;margin-right:5px;'></div>                           
            <h1 id='title' style='font-size:400%'></h1>
        </div>
        <h1 style='font-size:500%; padding-top: 4%'> <b> How was the sprint?</b></h1>
    </div>
    <div style='min-height:30px;'></div>
    <div id='d3voter'></div>
    <div style='text-align: center;margin-top:-60px;'>
        <input id='cancelVote' type="button" value="Cancel Vote." style='font-size:400%;display:none;margin-right:10px;' onclick="cancelVote()">
        <input id='voteButton' type="button" value="Submit Vote." style='font-size:400%;display:none;margin-left:10px;' onclick="voteFinish()">
    </div>
</body>

</html>