<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div style='min-height: 30px;width:100%'></div>
    <div style='text-align: center;width:100%;overflow-x: hidden;overflow-y: scroll;'>
        <div class='row' style='width:100%; border-bottom: 3px solid black;'>
            <div class='w-50' style='border-right: 3px solid black;'>
                <h1>Plus</h1>
            </div>
            <div class='w-50'>
                <h1>Delta</h1>
            </div>
        </div>
        <div id='endTables' class='row' style='width:100%;'>
            <div class='w-50' style='border-right: 3px solid black;'>
                <table id='endPlus' style='margin-left:5px;width:100%;margin-top: 20px;text-align:left;'></table>
            </div>
            <div class='w-50'>
                <table id='endDelta' style='margin-left:5px;width:100%;margin-top: 20px;text-align:left;'></table>
            </div>
        </div>
        <div style='min-height:60px'></div>
    </div>
    <div class="modal fade" id="DeltaInstructions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" style='padding:7px;'>
                    <div style='border-radius: 10px; background-color:white; width: 100%;display:inherit;'>
                        <h3 class="modal-title" style='padding-left:10px;'><b>Delta: Instructions</b></h3>
                    </div>
                </div>
                <div class="modal-body" style='width:100%;'>
                    <div class='row' style='width:100%;padding-left:5px;'>
                        <p class='floatLeft'>
                            Delta is used to retrospective the retrospective to identify strengths and improvements for the next retrospective
                        </p>
                        <div style='min-height:15px;height:15px;width:100%'></div>
                        <h5 style='display:block;'><b>How it works</b></h5>
                        <div style='text-align:center'>
                            <img src="/assets/pictures/instructions_Delta1.png" alt="" height="193px" width="auto" style='padding-right:10px'>
                            <img src="/assets/pictures/instructions_Delta2.png" alt="" height="193px" width="auto" style='padding-left:10px'>
                            <div style='min-height:15px;height:15px;width:100%'></div>
                            <p class='floatLeft' style='display:block;'>
                                Please select either <b>Plus</b> (Strength) or <b>Delta</b> (Improvement) in the top bar and write why you felt 
                                that way in the provided space below, and send it off to the board. 
                                After 5 minutes the group will come together and discuss
                                <p class='floatLeft' style='padding-top:5px;display:block;'>
                                    <b>Estimated Time: </b> 10 minutes
                                </p> 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style='padding:5px;'>
                    <button type="button" class="btn" style='background: white; border-color:black;' onclick='closePopup("#DeltaInstructions")'>Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>