<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
</head>

<body>
    <div id='start' style='display:none;'></div>
    <div id='main' style='display:none;'></div>
    <div id='end' style='display:none;'></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/js/client_scope.js"></script>
    <script src='/lib/d3/d3.js'></script>
    <script>
        $(function () {
            $("#start").load("/assets/views/client/start.ejs", function () {
                $("#main").load("/assets/views/client/main.ejs", function () {
                    $("#end").load("/assets/views/client/end.ejs", function () {
                        var width = isNaN(window.innerWidth) ? window.clientWidth : window.innerWidth;
                        var height = isNaN(window.innerHeight) ? window.clientHeight : window.innerHeight;

                        $('#start').css('display', 'block')
                        $('#d3voter').css({'min-height': height * 0.75})

                        sendBaseMessage()
                        $('#title').html('<i class="fas fa-angle-double-right"></i>   Sprint <%=sessionData.sprint%>')
                        
                        drawVoter(width, height *0.75)
                    });
                });
            });
        });


    </script>

</body>

</html>