<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
</head>

<body>
    <div id='nonMobile' class="container">
        <div style="min-height:210px"></div>
        <div class="container" style="text-align:center">
            <h1>aWall - Retrospectives</h1>
        </div>
        <div style="min-height:30px"></div>
        <div class="container" style="text-align:center; padding: 0px !important; ">
            <div class="container" style="width: 50%">
                <a href="#" class="btn btn-default btn-lg" style="width: 47%; border-color: black; border-bottom-color: white; border-radius: 0%;"
                    id="joinSessionBtn">Join Session</a>
                <a href="#" class="btn btn-default btn-lg" style="width: 47%; border-color: black; border-bottom-color: white; border-radius: 0%;"
                    id="createSessionBtn">Create Session</a>
            </div>
        </div>
        <div class="container" id='sessionInfo' style="width:50%;">
            <div class='row'>
                <div class='col-sm-9' style='padding-right:2px;'>
                    <div class="form-group" id='sessionName'>
                        <label class="control-label" for="focusedInput">Project Name</label>
                        <input type="text" class="form-control" id="sessionNameValue" placeholder="Enter Project Name">
                    </div>
                </div>
                <div class='col-sm-3' style='padding-left:2px;'>
                    <div class="form-group" id='sprintNumber'>
                        <label class="control-label" for="focusedInput">Sprint</label>
                        <input type="number" class="form-control" id="sprintNumberValue" placeholder="Sprint Number">
                    </div>
                </div>
            </div>


            <div class='row' id='boardInfo' style='display:none;'>
                <div class='col-sm-7' style='padding-right:2px;'>
                    <div class="form-group" id='boardName'>
                        <label class="control-label" for="focusedInput">Retrospective Name</label>
                        <input type="text" class="form-control" id="boardNameValue" placeholder="Enter Retrospective Name">
                    </div>
                </div>
                <div class='col-sm-5' style='padding-left:2px;'>
                    <div class="dropdown">
                        <div class="form-group" id='retrospectiveType'>
                            <label class="control-label" for="focusedInput">Retrospective Type</label>
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" style='width:100%; border-color: #bbb; background-color: white;'>Select a Retrospective Type</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id='retrospectiveDropdown' style='width:100%'> </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group" id='username'>
                <label class="control-label" for="focusedInput">Name</label>
                <input type="text" class="form-control" id="usernameValue" placeholder="Enter Name">
            </div>

            <div class="form-group" id='password'>
                <label class="control-label" for="focusedInput">Password</label>
                <input type="password" class="form-control" id="passwordValue" placeholder="Enter Password">
            </div>

            <a href="#" class="btn btn-default btn-lg" id="joinConfirmBtn" style='width:100%; border-color:black;'>
                <i class="fas fa-tv"></i> Join Session</a>
            <a href="#" class="btn btn-default btn-lg" id="createConfirmBtn" style='width:100%; border-color:black; display:none;'>
                <i class="fas fa-wrench"></i> Create Session</a>

            <p class="text-danger" id="errLabel"></p>
        </div>
    </div>

    <div id=mobile class="container" style='display:none;'>
        <div style="min-height:100px"></div>
        <div class="container" style="text-align:center;">
            <h1 style='font-size:600%;'>aWall - Retrospectives</h1>
        </div>
        <div style="min-height:50px"></div>
        <div class="container">
            <div class="form-group" id='sessionName'>
                <label class="control-label" for="focusedInput" style='font-size:400%;'>Project Name</label>
                <input type="text" class="form-control" id="sessionNameValueMobile" placeholder="Enter Project Name" style='height:100px;font-size:30px;'>
            </div>
            <div class="form-group" id='sprintNumber'>
                <label class="control-label" for="focusedInput" style='font-size:400%;'>Sprint</label>
                <input type="number" class="form-control" id="sprintNumberValueMobile" placeholder="Sprint Number" style='height:100px;font-size:30px;'>
            </div>
            <div class="form-group" id='username'>
                <label class="control-label" for="focusedInput" style='font-size:400%;'>Name</label>
                <input type="text" class="form-control" id="usernameValueMobile" placeholder="Enter Name" style='height:100px;font-size:30px;'>
            </div>
            <div class="form-group" id='password'>
                <label class="control-label" for="focusedInput" style='font-size:400%;'>Password</label>
                <input type="password" class="form-control" id="passwordValueMobile" placeholder="Enter Password" style='height:100px;font-size:30px;'>
            </div>

            <div style="min-height:50px"></div>
            <a href="#" class="btn btn-default btn-lg" id="joinConfirmBtnMobile" style='height:100px;border-color:black;font-size:50px;width:100%'>
                <i class="fas fa-tv" style='font-size:50px;'></i> Join Session</a>
            <p class="text-danger" id="errLabelMobile" style='font-size:250%'></p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script src="/js/login.js"></script>
</body>

</html>