<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div id="header"></div>
    <div id='start' style='display:none;'></div>
    <div id='main' style='display:none;'></div>
    <div id='end' style='display:none;'></div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="/lib/bootstrap/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="/js/mod_scope.js"></script>
    <script>
        $(function () {
            $("#header").load("/assets/views/moderator/header.ejs");
            $("#start").load("/assets/views/moderator/start.ejs");
            $("#main").load("/assets/views/moderator/main.ejs");
            $("#end").load("/assets/views/moderator/end.ejs");

            $('#start').css('display', 'block')

            sendBaseMessage()
        });


    </script>

</body>

</html>