<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div style='min-height: 30px;width:100%'></div>
    <div style='text-align: center;width:100%'>
        <div class='row' style='width:100%; border-bottom: 3px solid black;'>
            <div class='w-50' style='border-right: 3px solid black;'>
                <h1>Plus</h1>
            </div>
            <div class='w-50'>
                <h1>Delta</h1>
            </div>
        </div>
        <div id='endTables' class='row' style='width:100%;'>
            <div class='w-50' style='border-right: 3px solid black;'>
                <table id='endPlus' style='margin-left:5px;width:100%;margin-top: 20px;text-align:left;'></table>
            </div>
            <div class='w-50'>
                <table id='endDelta' style='margin-left:5px;width:100%;margin-top: 20px;text-align:left;'></table>
            </div>
        </div>
        <div style='min-height:60px'></div>
    </div>
</body>

</html>