<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <div style='min-height: 30px;width:100%'></div>
    <div style='text-align: center;width:100%'>
        <div style='min-height:30px;width:100%'></div>
        <div class='row' style='width:100%'>
            <div class='w-45'>
                <h1>Plus</h1>
                <table id='endPlus' style='margin-left:5px;width:100%;margin-top: 20px;text-align:left;'></table>
            </div>
            <div class='w-45'>
                <h1>Delta</h1>
                <table id='endDelta' style='margin-left:5px;width:100%;margin-top: 20px;text-align:left;'></table>
            </div>
        </div>
    </div>
</body>

</html>