<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/fontawesome-all.css" rel="stylesheet">
</head>

<body>
    <div style="min-width: 100%; min-height:110px; background-color: #66adff">
        <div style='background-color:#66adff;min-width: 100%; min-height:10px;'></div>
        <div class='row' style='background-color:#66adff;min-width:100%;width:100%;min-height:90px;margin-left:0px; margin-right:0px;'>
            <div style='background-color:#66adff;width: 1%;'></div>
            <div style='border-radius: 10px; background-color:white;width: 30%;'>
                <p style='padding-left: 10px; padding-top: 10px; font-size:20px; margin-bottom: 5px;'>
                    <b>General Information:</b>
                </p>
                <p id='sessionName' style='padding-left: 10px; padding-top: 5px; font-size:14px; margin-bottom: 5px;'></p>
                <p id='retrospectiveName' style='padding-left: 10px; font-size:14px;'></p>
            </div>
            <div style='background-color:#66adff;width:1.5%;'></div>
            <div style='border-radius: 10px; background-color:white;width: 30%;'>
                <p style='padding-left: 10px; padding-top: 5px; font-size:20px; margin-bottom: 5px;'>
                    <b>Current Members:</b>
                </p>
                <table id='members' style='margin-left: 5px; font-size:14px;'></table>
            </div>
            <div style='background-color:#66adff;width:1.5%;'></div>
            <div style='border-radius: 10px; background-color:white;width: 30%;'>
                <div class='row' style='min-height:100%;margin-left:0px; margin-right:0px;'>
                    <div id='timer' style='width:30%;display:none;'></div>
                    <div id='timerPlay' style='width:30%;vertical-align: middle;display: inline-block; '>
                        <div style='text-align: center;width:100%;height:100%;'>
                            <div style='width:100%;height:15%;'/>
                            <i class='fas fa-play-circle fa-6x' style='color:#1E8449' onclick='start()'></i>
                        </div>
                    </div>
                    <div id='states' style='width:70%'>
                        <p id='currentStateLabel' style='padding-left: 10px; padding-top: 5px; font-size:14px; margin-bottom: 5px;'></p>
                        <div class='row' style='min-height:100%;margin-left:0px; margin-right:0px;'>
                            <div id='currentStateTimer' style='width:50%;'>
                                <p style='padding-left: 10px; padding-top: 5px; font-size:14px; margin-bottom: 5px;'>
                                    <b>Current State Time: </b>
                                </p>
                                <p id='currentStateTime' style='padding-left: 10px; font-size:20px;'>00:00</p>
                            </div>
                            <div id='overallTimer' style='width:50%;'>
                                <p style='padding-left: 10px; padding-top: 5px; font-size:14px; margin-bottom: 5px;'>
                                    <b>Overall Time: </b>
                                </p>
                                <p id='overallTime' style='padding-left: 10px; font-size:20px;'>00:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style='border-radius: 10px; background-color:#66adff;width:1.5%;'></div>
            <div style='border-radius: 10px; background-color:#66adff;width: 3.5%;'>
                <div style='min-height: 30px;'></div>
                <div class="dropdown show dropleft" style='float:right;'>
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false" style='background-color:#66adff; background-image: none; border: 2px solid #000000'>
                        <i class='fas fa-align-justify fa-2x'></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" onclick='resetStateTime()'>Reset State Time</a>
                        <a class="dropdown-item" onclick='resetOverallTime()'>Reset Overall Time</a>
                        <a class="dropdown-item" onclick='removeAllMembers()'>Remove all members [DO NOT PRESS]</a>
                    </div>
                </div>
            </div>
            <div style='border-radius: 10px; background-color:#66adff;width:1%;'></div>
        </div>
        <div style='background-color:#66adff;min-width: 100%; min-height:10px;'></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src='/lib/d3/d3.js'></script>
    <script src="/js/header.js"></script>
</body>

</html>