<!DOCTYPE HTML>
<html>

<head>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<div style='min-height: 30px;'></div>
	<div id='3W' class="container" style='text-align: center;'>
		<h1>MAIN</h1>
		<div class='row'></div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"></script>
	<script src="/lib/bootstrap/bootstrap.min.js"></script>
	<script>
		$(function () {
			let retrotype = window.location.href.split('type/')[1].split('/')[0]
			if(retrotype == '3W')
				$('#3W').css('display', 'block')
		});
	</script>
</body>

</html>