<!DOCTYPE HTML>
<html>

<body>
    <div style='min-height: 30px;'></div>
    <div class="container" style='text-align: center;padding:0;margin:0; min-width:98%'>
        <div class='row'>
            <div style='padding-left:1%;width:19%;'>
                <h1><b>Instructions</b></h1>
                <p>
                    <h3>Logging In</h3>
                    <p style='text-align:left;'> 
                            Join the session with the parameters: 
                            <br><br>
                            Session Name:
                            <br>
                            Sprint Number:
                            <br>
                            Password:
                            <br><br>
                            Putting in all these values, please also pick a name which will be used to display your information during 
                                this retrospective
                    </p>
                    <h3>Voting</h3>
                    <p> 
                            <img src="/assets/pictures/voting_instructions.png" alt="" height="250px" width="100%">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis luctus risus, nec tempus nibh. 
                            Aliquam eu augue accumsan mauris pharetra facilisis. Nulla a dapibus est. Nullam nec diam sapien. 
                            Fusce consectetur pulvinar dictum. Etiam at tellus eget lacus sodales pharetra. Pellentesque vel pretium nibh. 
                            Donec dapibus finibus diam, sit amet pretium nisi feugiat ut. Proin interdum diam vel convallis egestas. 
                            Vivamus efficitur vestibulum mi et vehicula. Aliquam erat volutpat.
                    </p>   
                </p>
            </div>
            <div style='width:40%;text-align:center;'>
                <h1><b> Current Voting Status </b></h1>
                <table id='memberGraphic'></table>
            </div>
            <div style='width:40%;'>
                <h1><b>How are we feeling?</b></h1>
            </div>
        </div>

    </div>
</body>

</html>