<!DOCTYPE HTML>
<html>

<body>
    <div style='min-height: 30px;'></div>
    <div class="container" style='text-align: center;padding:0;margin:0; min-width:98%'>
        <!--<h1>START</h1>-->
        <div class='row'>
            <div style='padding-left:1%;width:19%;'>
                <h1><b>Instructions (ToMake)</b></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis luctus risus, nec tempus nibh. 
                    Aliquam eu augue accumsan mauris pharetra facilisis. Nulla a dapibus est. Nullam nec diam sapien. 
                    Fusce consectetur pulvinar dictum. Etiam at tellus eget lacus sodales pharetra. Pellentesque vel pretium nibh. 
                    Donec dapibus finibus diam, sit amet pretium nisi feugiat ut. Proin interdum diam vel convallis egestas. 
                    Vivamus efficitur vestibulum mi et vehicula. Aliquam erat volutpat.

                    Duis malesuada non augue a viverra. Proin fermentum condimentum eros, at vestibulum ante consectetur vitae. 
                    Maecenas eget nisi sit amet lacus aliquet malesuada. Morbi efficitur, urna aliquet sagittis cursus, lorem 
                    ligula sagittis justo, ut tristique felis augue in dolor. Cras bibendum luctus ante, ac euismod turpis. 
                    Nullam ante justo, dignissim ac ultrices fermentum, scelerisque at ex. In luctus tempor euismod. 
                    Quisque non urna a ligula euismod tincidunt vitae in neque. Nullam vel sagittis ex, lobortis lacinia ligula. 
                    Aliquam erat volutpat. Praesent orci orci, vehicula eu augue et, semper molestie leo. Morbi ut sollicitudin tortor. 
                    Etiam tincidunt nunc quis odio molestie, in sollicitudin felis sodales

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis luctus risus, nec tempus nibh. 
                    Aliquam eu augue accumsan mauris pharetra facilisis. Nulla a dapibus est. Nullam nec diam sapien. 
                    Fusce consectetur pulvinar dictum. Etiam at tellus eget lacus sodales pharetra. Pellentesque vel pretium nibh. 
                    Donec dapibus finibus diam, sit amet pretium nisi feugiat ut. Proin interdum diam vel convallis egestas. 
                    Vivamus efficitur vestibulum mi et vehicula. Aliquam erat volutpat.

                    
                </p>
            </div>
            <div style='width:40%;text-align:center;'>
                <h1><b> Current Voting Status </b></h1>
                <table id='memberGraphic'></table>
            </div>
            <div style='width:40%;'>
                <h1><b>How are we feeling?</b></h1>
            </div>
        </div>

    </div>
</body>

</html>