<!DOCTYPE HTML>
<html>

<body>
    <div style='min-height: 30px;'></div>
    <div class="container" style='text-align: center;padding:0;margin:0; min-width:98%'>
        <div class='row'>
            <div style='padding-left:2%;width:18%;'>
                <h1><b>Instructions</b></h1>
                <p>
                    <h3>Logging In</h3>
                    <p class='floatLeft'> 
                        Join the session with the parameters: 
                    </p>
                    <p class='floatLeft' id='instructionsProjectName'> 
                        Project Name: 
                    </p>
                    <p class='floatLeft' id='instructionsSprintNumber'> 
                        Sprint Number:
                    </p>        
                    <p class='floatLeft' id='instructionsPassword'> 
                        Password:
                    </p>      
                    <br>
                    <p class='floatLeft'> 
                        Putting in all these values, please also pick a name which will be used to display your information during 
                        this retrospective
                    </p> 
                    <h3>Voting</h3>
                    <img src="/assets/pictures/instructions_phone.png" alt="" height="auto" width="38%" style='padding-right:10px'>
                    <img src="/assets/pictures/instructions_phone2.png" alt="" height="auto" width="38%" style='padding-left:10px'>
                    <p class='floatLeft'> 
                            Please select a number between 1-10 shown on the screen. This value is how you felt in the sprint,
                            remember to answer truthfully as this helps during the retrospective.
                    </p>  
                </p>
            </div>
            <div style='width:40%;text-align:center;'>
                <h1><b> Current Voting Status </b></h1>
                <table id='memberGraphic'></table>
                <h3 id='averageThisSprint'></h3>
            </div>
            <div style='width:40%;'>
                <h1><b>How are we feeling?</b></h1>
                <div style="min-height:40px"></div>
                <canvas id="myChart"></canvas>
            </div>
        </div>

    </div>
</body>

</html>